/*.carousel{
    height: 500px;
    width: 500px;
}*/

#slider {
    /*height: 350px;
    overflow: hidden;
    width: 100%;*/
}

.carousel-item {
    height: 350px;
    border-radius: 25px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-indicators {
    bottom: -50px;
}

body{
    background-color: aqua;
}