body {
    background-color: rgb(24, 24, 24);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0;
    color: rgb(204, 204, 204);
    max-width: 100%;
    max-height: 100%;
    cursor: url(https://sweezy-cursors.com/wp-content/uploads/cursor/queen-freddie-mercury/queen-freddie-mercury-cursor-32x32.png), auto;
}

a {
    cursor: url(https://sweezy-cursors.com/wp-content/uploads/cursor/queen-freddie-mercury/queen-freddie-mercury-pointer-32x32.png), auto;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

h2 {
    font-size: 40px;
}

.logo {
    margin-bottom: 10px;
    margin-top: 10px
}

.shadow {
    filter: drop-shadow(5px 5px 1px rgba(97, 97, 97, 0.7));
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.text {
    padding: 5px 25px 5px;
}

#navbar {
    overflow: hidden;
    background-color: #333;
    transition: 50ms;
}

#navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}

#navbar a.active {
    background-color: #04AA6D;
    color: white;
}

#navbar img{
    float: left;
    display: block;
    width: 45px;
    position: absolute;
    padding-left: 20%;
    padding-top: 0.4%;
}

.content {
    padding-left: 20%;
    padding-right: 20%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}



.tbl-members {
    font-size: medium;
    height: 20%;
    float: center;
    margin-left: auto;
    margin-right: auto;
}

.img-members {
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-right: 20px;
    transition: transform .2s;
    
}
.img-members:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
footer{
    background-color: #333;
    display: block;
    padding: 14px 16px;
    color: #ddd;
}

#footer a {
    text-decoration: none;
}
#footer a:link, #footer a:visited {
    color: white;
}
#footer a:hover {
    color: white;
<<<<<<< HEAD
}

#albums img{
    height: 340px;
    width: 340px;
=======
    
>>>>>>> 47b6be6be8ac3a300dfa90646225acf31f6f5bd7
}