.carousel-item {
    height: 350px;
    box-align: center;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-indicators {
    bottom: -50px;
}

body{
    background-color: rgb(17, 17, 17);
}

img {
    box-sizing: border-box;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    border: 10px;
    display: block;
}